.cart {
  background-color: #fff;
  /* width: 320px; */
  height: 100%;
  min-height: 300px;
  border: 0px solid rgb(133, 133, 130);
  position: relative;
  box-shadow: -2px 0 12px 0 rgba(143, 143, 143, 0.38);
}

.btnCollapse {
  z-index: 8;
  cursor: pointer;
  position: absolute;
  left: -16px;
  top: 45%;
  margin: auto;
  height: 70px;
  width: 16px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  color: #fff;
  background-color: #b7b7b7;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.btnCollapse::before {
  content: " ";
  width: 15px;
  height: 4px;
  background: #fff;
  display: block;
  position: absolute;
  transform: rotate(65deg);
  margin-top: 26px;
}

.btnCollapse::after {
  content: " ";
  width: 15px;
  height: 4px;
  background: #fff;
  display: block;
  position: absolute;
  transform: rotate(-65deg);
  margin-top: 38px;
}

.cartHeader {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  background-color: #e4e0e1;
  position: relative;
  height: 39px;
}

.itemsCount {
  font-weight: 700;
  font-size: 15px;
  padding: 0 10px;
}

.shoppingBagIcon {
  font-size: 25px;
}

.btnClose {
  font-size: 24px;
  position: absolute;
  right: 10px;
  padding: 0;
  border: 0;
  outline: 0;
  display: flex;
  background: none;
  transition: all 0.5s ease;
}

.btnClose:hover {
  color: var(--linkbutton-hover);
  transition: all 0.5s ease;
}

.cartItemsContainer {
  position: absolute;
  left: 0;
  right: 0;
  top: calc(39px + 35px);
  bottom: 130px;
  overflow: auto;
}

.emptyCartContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
}

.emptyCart {
  margin: 10px 0 0 0;
}

.emptyCartText {
  font-weight: 400;
  color: #b1aeae;
  font-size: 1.1rem;
  text-align: center;
  padding: 10px 5px;
}

.deliveryType {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #f6f6f6;
}

.deliveryTypeIconContainer {
  padding: 3px 5px;
}

.deliveryTypeIcon {
  filter: invert(25%) sepia(5%) saturate(0%) hue-rotate(193deg) brightness(89%)
    contrast(70%);
}

.text {
  font-weight: 700;
  margin-top: -5px;
}

.discountCode {
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
}

.btnDiscCode {
  width: 100%;
  height: 30px;
  font-size: 14px;
  border: 0;
  background: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #ededed;
}

.btnDiscCode:hover {
  background: #eeeeee;
}

.arrow {
  font-size: 25px;
  margin: 5px 5px 0 5px;
}

.formContainer {
  width: 100%;
  background-color: #f6f6f6;
  border-bottom: 1px solid #ededed;
  text-align: center;
}

.form {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  border: none;
  outline: none;
  padding: 8px 20px;
  text-align: center;
  border-radius: 4px;
  background-color: #e3e3e3;
  width: 12rem;
  margin: 0 10px;
  border: 1px solid #e3e3e3;
  font-family: inherit;
}

.input:focus {
  border: 1px solid #cdcdcd;
  background-color: #dbdbdb;
}

.btnGo {
  border: none;
  outline: none;
  padding: 8px 20px;
  text-align: center;
  border-radius: 4px;
  background-color: #e05252;
  font-family: inherit;
  color: white;
  box-shadow: 0 0 5px #ccc;
  font-weight: 700;
  margin: 0 10px;
}

.btnGo:hover {
  background-color: #ce2323;
}

.placeOrder {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  bottom: 0;
  background-color: #fff;
}

.btnPlaceOrder {
  font-family: inherit;
  font-size: 17px;
  border: none;
  outline: none;
  padding: 0;
  height: 40px;
  width: 90%;
  box-shadow: 0 0 3px #b1aeae;
  margin: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.placeOrderText:hover {
  background-color: var(--linkbutton-hover);
  transition: all 0.5s ease;
}

.placeOrderText {
  border-radius: 2px 0 0 2px;
  margin: 0;
  display: inline-block;
  height: 100%;
  background-color: lightcoral;
  flex: 1 1 60%;
  color: white;
  height: 100%;
  padding: 8px 5px;
  transition: all 0.5s ease;
}

.orderAmount {
  border-radius: 0 2px 2px 0;
  flex: 1 0 40%;
  background-color: rgb(230, 59, 59);
  color: white;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 5px;
}

.takaSign {
  font-size: 25px;
  margin: -5px 3px 0 5px;
}

.contact {
  font-weight: 700;
  color: grey;
  font-size: 1rem;
  padding-top: 0.8rem;
  background-color: #fff;
  width: 100%;
  height: 100%;
  text-align: center;
}

.promoNotifyWrapper {
  position: fixed;
  top: 56px;
  height: 35px;
  width: 450px;
}
