.container {
  border: 1px solid #ddd;
  padding: 5px 10px;
  font-size: 13px;
  background-color: rgb(248, 248, 248);
  border-radius: 5px;
  position: relative;
  font-weight: 400;
  letter-spacing: 0px;
  margin: 5px 0;
  font-style: normal;
  font-weight: 400;
}

.selected {
  border: 1px solid rgb(22, 189, 0);
  background-color: rgb(224, 248, 213);
}

.btnContainer {
  user-select: none;
  position: absolute;
  border: none;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
  font-weight: 700;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.575);
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
  display: none;
  border-radius: 5px;
}

.btnsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container:hover .btnContainer {
  display: block;
}

.namePhoneWrapper {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.areaCityWrapper {
  font-style: normal;
  font-weight: 500;
}

.area::after {
  content: ",";
  padding: 0 3px 0 1px;
}

.city {
  padding: 0 0px;
}

.city::after {
  content: ".";
  padding: 0 0px;
}

.button {
  border-radius: 3px;
  color: #eee;
  width: 85px;
  background: none;
  outline: none;
  border: 1px solid #ccc;
  font-size: 16px;
  font-family: inherit;
  font-weight: 500;
  transition: all 0.2s linear;
  margin: 0 10px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover:enabled {
  color: #eee;
  background-color: var(--color-secondary-hover);
  border: 1px solid var(--color-secondary-hover);
}
