.input {
  font-size: 1rem;
  font-family: inherit;
  text-align: left;
  font-weight: 400;
  padding: 15px 15px;
  background-color: #fff;
  color: #444;
  overflow: hidden;
  width: 100%;
  transition: all 0.2s linear;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #ccc;
  outline: none;
}

.input:focus {
  box-shadow: 0 0 3pt 2pt var(--color-primary-yellow);
}

.error {
  font-weight: 500;
  color: rgb(218, 4, 4);
  font-size: 14px;
  padding: 5px;
}

.inputGroup {
  margin-bottom: 15px;
}

.button {
  width: 100%;
  border-radius: 5px;
  color: #eee;
  background: var(--color-secondary-red);
  outline: none;
  border: none;
  height: 60px;
  font-size: 1.2rem;
  font-family: inherit;
  font-weight: 700;
  transition: all 0.2s linear;
  margin: 15px 0 0 0;
}

.button:hover {
  color: #eee;
  background-color: var(--color-secondary-hover);
}

.status {
  font-size: 15px;
  font-weight: 500;
}
