.hamburger {
  cursor: pointer;
  user-select: none;
  margin-left: 12px;
}

.bar {
  width: 25px;
  height: 2px;
  background-color: #333;
  margin: 7px 0px;
  transition: 0.4s;
}

.bar1 {
  transform: rotate(-45deg) translate(-7px, 5px);
  width: 25px;
}
.bar3 {
  transform: rotate(45deg) translate(-8px, -6px);
  width: 25px;
}

.bar2 {
  opacity: 0;
}
