.wrapper {
  height: calc(100vh - 55px);
}

.container {
  height: 100%;
}

.foundMsg {
  color: #a9a9a9;
  font-size: 1rem;
  text-align: center;
  padding: 6px 0 10px 0;
}

.found {
  font-weight: 700;
}

.productCardWrapper {
  display: inline-block;
  margin: 20px 5px;
}

.notFoundMsg {
  font-size: 1.4rem;
  text-align: center;
  padding-top: 50px;
  padding: 10px 10px;
}

.notFound {
  font-weight: 700;
  color: #a78e08;
}

.scrallableDiv {
  height: 100%;
  overflow: auto;
  padding: 0 10px;
}
